<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" sizes="56x56" href="https://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2019-08-10/074cec5ae111331f3e4e5d4a65057b74.ico.png">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
	<link rel="stylesheet" href="/tata320-767.css">
	<link rel="stylesheet" href="/tata768-1024.css">
	<link rel="stylesheet" href="/tata1024-1500.css">
	<link rel="stylesheet" href="/tata1501.css">
	<title>Payment</title>
</head>

<header class="nHeader">
<!--Logo img-->
<div id="logoDiv">
	<a href="/"><img id="logo" src=https://i.imgur.com/7zbDOVQ.jpg></a>
</div>
<!--Desktop menu-->
	<nav>
		<ul id="headerUl">
			<li><a href="Installation" class="headerLi">Installation</a></li>
			<li><a href="contact" class="headerLi">Contact</a></li>
			<li><a href="service" class="headerLi">Service</a></li>
			<li><a href="payment" class="headerLi">Payment</a></li>
		</ul>
	</nav>
<!--Tablet/iPad menu-->
	<div>
		<a href="Installation" class="iI" id="tI">Installation</a>
		<a href="contact" class="iC" id="tC">Contact</a>
		<a href="service" class="iS" id="tS">Service</a>
		<a href="payment" class="iP" id="tP">Payment</a>
	</div>
<!--Mobile menu-->
	<div id="menu">
		<i id="menuIcon" class="fas fa-ellipsis-h"></i></i>
		<div id="dropdown">
			<h1 class="menu-content">Installation</h1>
			<hr>
			<h1 class="menu-content">Contact</h1>
			<hr>
			<h1 class="menu-content">Service</h1>
			<hr>
			<h1 class="menu-content">Payment</h1>
		</div>
	</div>
	<h3 id="menuText">Menu</h3><p id="menuTextIcon">⯈</p>
</header>


<body class="nPush">
	<h1 class="no-move">Payment Information</h1>
	<hr>
	<div>
	</div>
	<div class="bContainer desktop">
	<h1 class="bannerText">Pricing</h1>
	<h3>Prices vary depending on the size and complexity of the project. Time of year is also a major factor, as HVAC products tend to act up the most during Summer seasons. Pricing also depends on the amount of necessary materials will need to be bought in order to complete the job. This includes PVC pipes, clay, sheet metal, venting, thermostats, ect.</h3>
	<h1 class="bannerText">Costs</h1>
	<h3>We are <b>not</b> paid by the hour, instead by the project. AP Pro Inc. does not have a mandatory set of hours per week for our employees. Costs vary depending on the project and time of year.
	</div> 
</body>

<footer class="nFooter">
	<div>
		<h1 class="no-move">Contact us</h1>
	<hr>
		<div id="fDiv">
		<ul>
			<li class="footerLi"><b>Gmail:</b>APProInc@gmail.com</li>
			<li class="footerLi"><b>Phone:</b>(630)-540-8677</li>
			<li class="footerLi"><b>Liscence Number</b>: #0397545379400</li>
		</ul>
	</div>
</div>
</footer>

</html>