<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" sizes="56x56" href="https://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2019-08-10/074cec5ae111331f3e4e5d4a65057b74.ico.png">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
	<link rel="stylesheet" href="/tata320-767.css">
	<link rel="stylesheet" href="/tata768-1024.css">
	<link rel="stylesheet" href="/tata1024-1500.css">
	<link rel="stylesheet" href="/tata1501.css">
	<title>AP Pro Inc.</title>
</head>

<header>
<!--Logo img-->
<div id="logoDiv">
	<a href="/"><img id="logo" src=https://i.imgur.com/7zbDOVQ.jpg></a>
</div>
<!--Desktop menu-->
	<nav>
		<ul id="headerUl">
			<li><a href="Installation" class="headerLi">Installation</a></li>
			<li><a href="contact" class="headerLi">Contact</a></li>
			<li><a href="service" class="headerLi">Service</a></li>
			<li><a href="payment" class="headerLi">Payment</a></li>
		</ul>
	</nav>
<!--Tablet/iPad menu-->
	<div>
		<a href="Installation" class="iI" id="tI">Installation</a>
		<a href="contact" class="iC" id="tC">Contact</a>
		<a href="service" class="iS" id="tS">Service</a>
		<a href="payment" class="iP" id="tP">Payment</a>
	</div>
<!--Mobile menu-->
	<div id="menu">
		<i id="menuIcon" class="fas fa-ellipsis-h"></i></i>
		<div id="dropdown">
			<h1 class="menu-content">Installation</h1>
			<hr>
			<h1 class="menu-content">Contact</h1>
			<hr>
			<h1 class="menu-content">Service</h1>
			<hr>
			<h1 class="menu-content">Payment</h1>
		</div>
	</div>
	<h3 id="menuText">Menu</h3><p id="menuTextIcon">⯈</p>
<!--Contact img-->
	<div id="contactDiv">
		<img id="contact_img" src="https://i.imgur.com/i9CfoF5.jpg">
	</div>
<!--Slideshow-->
	<div id="auto-slider-container">
	<div class="auto-slider">
  	 <ul class="auto-slider__content">
    	<li><img class="slide_img" src="https://i.imgur.com/LDAcStx.jpg" alt="outdoor AC"></li>
        <li><img class="slide_img" src="https://i.imgur.com/RawxQoF.jpg" alt="water heater"></li>
    	<li><img class="slide_img" src="https://i.imgur.com/aCfi1OB.jpg" alt="coil"></li>
    	<li><img class="slide_img" src="https://i.imgur.com/sEUxEIX.jpg" alt="humidifier and furnace"></li>
    	<li><img class="slide_img" src="https://i.imgur.com/G55TrER.jpg" alt="roof unit"></li>
    	<li><img class="slide_img" src="https://i.imgur.com/HzLBPPJ.jpg" alt="closet Ac"></li>
  	</ul>
  </div>
</div>
</div>
</header>

<div class="push">
<body>
	<h1 class="no-move">AP Pro Inc. Home</h1>
	<hr>
	<div class='desktop' class="bContainer">
		<h1 class="bannerText">AP Pro Inc. is your go-to for everything HVAC</h1>
		<h3>AP Pro Inc. is a Chicagoland area buisiness dedicated to the installation, maintance, and repair of HVAC related appliances. This includes AC units, coil installation, HVAC humidifiers, water heaters, furnaces, and boilers. We work on both indoor and outdoor units, whether it be roofing or closet. With over a decade's worth of experience, AP Pro Inc. has the competent people you need to get the job done.</h3>
		<h1 class="bannerText">Multi-brand service</h1>
		<h3>AP Pro Inc's years of experience makes it easy to work with any brands of AC out there. This includes Rheem, Carrier, Gibson, American Standard and many more. Our materials are bought from Ferguson© manufacturers to ensure the best quality products go into every unit. 
		<h1 class="bannerText">Service Area</h1>
		<h3>AP Pro Inc. services in the general Chicagoland area and beyond. This includes all of Chicago, Evanston, Elgin, Joliet, Aurora, Naperville, and all adjacent areas.</h3>
		<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d380691.8142427014!2d-88.046103!3d41.8034256!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e444c8c99e083%3A0xda7b840a9a579334!2sChicago+Metropolitan+Area%2C+IL!5e0!3m2!1sen!2sus!4v1565047525122!5m2!1sen!2sus" allowfullscreen></iframe>
	</div> 
</body>
</div>


<footer class="smallBottomFooter">
	<div>
		<h1 class="no-move">Contact us</h1>
	<hr>
		<div id="fDiv">
		<ul>
			<li class="footerLi"><b>Gmail:</b>APProInc@gmail.com</li>
			<li class="footerLi"><b>Phone:</b>(630)-540-8677</li>
			<li class="footerLi"><b>Liscence Number</b>: #0397545379400</li>
		</ul>
	</div>
</div>
</footer>

</html>